@import '~nav-frontend-knapper-style/src/index.less';

@lightProfileColor: #c1b5d0;
@darkProfileColor: #a190b8;
@lightAdvarsel: #ffe9cc;
@darkAdvarsel: #d87f0a;

@c-buttonBlue: #0067c5;
@button-height: 46px;

a.knappelenke {
    padding: 0 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: @button-height;
    justify-content: center;
    width: fit-content;

    &:focus {
        .buttonFocus();
    }

    span {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.focusOutline() {
    outline: none;
    box-shadow: 0 0 0 3px @fokusFarge;
}

.buttonFocus() {
    .focusOutline();
}
